<ion-grid class="gvt-default-grid">
  <div id="map-{{ uuid }}" class="gvt-map-edit"></div>
  <p class="text-muted font-size-12px">
    <span translate>Нажмите на иконку</span>&nbsp;<ion-icon
    name="ios-pin" [color]="'default'" *ngIf="point !== currentPoint"></ion-icon>&nbsp;
    <span translate="">рядом с нужным пунктом чтобы выбрать точку на карте</span>
  </p>
  <ion-row *ngFor="let point of trRequest.points; let i = index;">
    <ion-col col-1 class="vertical-align-center big-icon" text-center (click)="setCurrentPoint(point)">
      <ion-icon name="ios-pin" [color]="'primary'" *ngIf="point === currentLocation"></ion-icon>
      <ion-icon name="ios-pin-outline" [color]="'default'" *ngIf="point !== currentLocation"></ion-icon>
    </ion-col>
    <ion-col col-5 [ngClass]="{'gvt-empty-address': !point.address}" (click)="showAddressAutocompleteModal($event, point)">
        <span>
          {{ point.address || ((i === 0 ? 'Откуда' : i === trRequest.points.length - 1 ? 'Куда' : 'Далее') | translate)}}</span>
    </ion-col>
    <ion-col col-3>
      <ion-input type="number"
                 name="floor{{ i }}"
                 placeholder="{{ 'Этаж' | translate }}"
                 [(ngModel)]="point.floor"></ion-input>
    </ion-col>
    <ion-col col-3 class="gvt-map-points-buttons">
      <ion-icon name="trash" color="danger" *ngIf="trRequest.points.length > 2" (click)="removePoint(point)"></ion-icon>
      <ion-icon name="add-circle" color="secondary" float-end *ngIf="i === (trRequest.points.length - 1) && trRequest.points.length < 20"
                (click)="addPoint()"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-6 class="text-center">
      <span translate="">Длина Маршрута</span>
    </ion-col>
    <ion-col col-6 class="text-center" *ngIf="trRequest && trRequest.routeLength">
      <b>{{ trRequest.routeLength / 1000 | number : '1.2-2' }} <span translate="">км</span></b>
    </ion-col>
    <ion-col col-6 class="text-center" *ngIf="!trRequest || !trRequest.routeLength">
      <b translate="">Маршрут не выбран</b>
    </ion-col>
  </ion-row>
</ion-grid>
