<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span translate="">Выход</span></ion-title>
    <button right ion-button menuToggle="right">
      <ion-icon name="person"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5 text-center="" translate="">Вы уверены, что хотите выйти из учетной записи?</h5>

  <p translate="">Вы сможете войти заново, используя указанный E-Mail и пароль</p>

  <confirmation-modal block="true"
                        [iconName]="'ios-log-out'"
                        [btnText]="'Выйти' | translate"
                        [confirmationBody]="'Вы уверены, что хотите выйти из аккаунта?' | translate"
                        [confirmationSuccess]="logOut()"></confirmation-modal>

</ion-content>
