<ion-header>
  <ion-navbar>
    <ion-title><span translate="">Укажите окончательную стоимость заказа</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item class="font-size-14px">
      <ion-label stacked=""><span translate>Стоимость перевозки</span></ion-label>
      <ion-input type="number" [(ngModel)]="finalCarAmount"></ion-input>
    </ion-item>
    <ion-item class="font-size-14px">
      <ion-label stacked><span translate>Стоимость услуг грузчиков</span></ion-label>
      <ion-input type="number" [(ngModel)]="finalPortersAmount"></ion-input>
    </ion-item>
    <!--<ion-item class="font-size-14px">-->
      <!--<ion-label stacked><span translate>Оплата грузчикам</span></ion-label>-->
      <!--<ion-input type="number" [(ngModel)]="portersPayment"></ion-input>-->
    <!--</ion-item>-->
  </ion-list>
  <ion-grid class="grid-no-margin grid-no-padding">
  <ion-row>
    <ion-col col-6>
    <button left ion-button="" icon-only class="font-size-18px gvt-round-button gvt-cancel-button" [color]="'light'" translate="" (click)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-col>
    <ion-col col-6 text-right="">
    <confirmation-modal right iconName="ios-checkmark"
                        [confirmationSuccess]="finishTransportationRequest()" btnClass="font-size-24px gvt-round-button"></confirmation-modal>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
