<ion-header>
  <ion-navbar>
    <ion-title><span translate="">Укажите адрес</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <label class="font-size-16px" translate>Введите адрес (Например, Мозырь улица Нефтестроителей 1)</label>
  <p translate="" class="text-muted font-size-14px">
        Иногда требуется добавить слово улица/бульвар/проспект и т.д. для более точного поиска адреса
    </p>
  <ion-list class="gvt-default-list">
    <ion-item>
      <ion-textarea rows="3" type="text" required [(ngModel)]="currentAddress"
                    #addressInput
                    (ngModelChange)="buildAddressAutocompleteList($event)"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="addressesList && addressesList.length">
      <div class="address-auto-complete" *ngIf="addressesList && addressesList.length">
        <ul text-wrap>
          <li class="item" *ngFor="let value of addressesList" (click)="setCurrentAddress(value)" text-wrap>
            {{ value }}
          </li>
        </ul>
      </div>
    </ion-item>
  </ion-list>
  <ion-grid class="grid-no-margin grid-no-padding">
    <ion-row>
      <ion-col col-6>
        <button icon-only class="font-size-18px gvt-round-button gvt-cancel-button" left ion-button="" [color]="'light'" translate="" (click)="closeModal()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6 text-right="">


        <button right ion-button="" icon-only class="font-size-24px gvt-round-button" [color]="'primary'" (click)="setAddressToCurrentPoint()">
          <ion-icon name="ios-checkmark"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
