<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span translate="">Транспортировка</span>
    </ion-title>
    <button right ion-button menuToggle="right">
      <ion-icon name="person"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content class="tr-requests" padding>

  <button ion-fixed text-center="" ion-button [color]="'primary'" (click)="openCreateTRRequestPage()"
          icon-only class="gvt-round-button-md gvt-add-tr-button pull-right font-size-18px gvt-round-button">
    <ion-icon name="add"></ion-icon>
  </button>

  <ion-buttons class="tr-requests-navigation" text-center="" *ngIf="account.isManagerOrDriver()">
      <button ion-button *ngIf="account.isManager()" (click)="openTrListPage('all')">
        Все
      </button>
      <button ion-button (click)="openTrListPage('assigned')">
        Назначены
      </button>
      <button ion-button (click)="openTrListPage('my')">
        Мои
      </button>
  </ion-buttons>
  <h5 *ngIf="listName">{{ listName | translate }}
    <small><span *ngIf="totalItems || totalItems === 0" class="gvt-label gvt-label-primary font-size-14px">{{ totalItems }}</span>
    </small>
  </h5>

  <ion-grid>
    <ion-row>
      <ion-col (click)="isFiltrationCollapsed = !isFiltrationCollapsed" icon-end col-12>
        <h6><span translate>Фильтрация</span>
          <ion-icon name="ios-arrow-dropup-outline" *ngIf="!isFiltrationCollapsed"></ion-icon>
          <ion-icon name="ios-arrow-dropdown-outline" *ngIf="isFiltrationCollapsed"></ion-icon>
        </h6>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list [collapse]="isFiltrationCollapsed">
    <ion-item class="item-label-floating font-size-14px">
      <ion-label translate="">Статус</ion-label>
      <ion-select
        cancelText="{{ 'Отмена' | translate }}"
        okText="{{ 'Выбрать' | translate }}"
        (ngModelChange)="filterByStatus($event)" [(ngModel)]="filterStatus">
        <ion-option *ngFor="let status of statuses" [value]="status.value">{{ status.display }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="font-size-14px">
      <ion-label floating>
        <span translate="">От Даты</span>
      </ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD"
                    [cancelText]="'Отмена' | translate"
                    [doneText]="'Ок' | translate"
                    [(ngModel)]="filterDateStart"
                    (ngModelChange)="filterByDate($event, filterDateEnd)"></ion-datetime>
    </ion-item>
    <ion-item class="font-size-14px">
      <ion-label floating>
        <span translate="">До Даты</span>
      </ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD"
                    [cancelText]="'Отмена' | translate"
                    [doneText]="'Ок' | translate"
                    [(ngModel)]="filterDateEnd"
                    (ngModelChange)="filterByDate(filterDateStart, $event)"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating translate="">Поиск по телефону или email</ion-label>
      <ion-input type="text" (ngModelChange)="filterBySearch($event)" [(ngModel)]="filterSearch"></ion-input>
    </ion-item>
    <ion-item class="item-label-floating font-size-14px" *ngIf="account.isManager() && employeesList.length">
      <ion-label translate="">Сотрудник</ion-label>
      <ion-select
        cancelText="{{ 'Отмена' | translate }}"
        okText="{{ 'Выбрать' | translate }}"
        (ngModelChange)="filterByEmployeeID($event)" [(ngModel)]="filterEmployeeID">
        <ion-option value="" translate>Выбрать Cотрудника</ion-option>
        <ion-option *ngFor="let employee of employeesList" [value]="employee.id">
          {{ employee.firstName }} {{ employee.lastName }}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="font-size-14px">
      <ion-label><span translate>Безналичный Расчет</span></ion-label>
      <ion-toggle [(ngModel)]="isCashlessPayment" color="secondary"
                  (ngModelChange)="filterByCashlessPayment($event)"></ion-toggle>
    </ion-item>
  </ion-list>
  <br>
  <div *ngIf="requestsLoading" text-center="">
    <span translate="">Данные загружаются</span>
    <loader></loader>
  </div>
  <ion-grid class="grid-no-margin font-size-14px  gvt-default-grid" *ngIf="trRequests && trRequests.length">
    <ion-row>
      <ion-col col-1>
        #
      </ion-col>
      <ion-col col-5>
        Дата/Время
      </ion-col>
      <ion-col text-right="" col-6>
        Детали Заказа
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let tr of trRequests; let i = index">
      <ion-col col-1>
        {{i + 1}}
      </ion-col>
      <ion-col col-5>
        <ion-grid class="grid-no-margin grid-no-padding">
          <ion-row>
            <ion-col col-2>
              <ion-icon name="calendar" color="secondary"></ion-icon>
            </ion-col>
            <ion-col col-10 class="font-size-16px">
              <a (click)="openRequestDetails(tr.uuid)">{{ tr.date | date : "dd/MM/y" }}</a><br>
              <b class="font-size-14px" *ngIf="tr.time">{{ tr.time }}</b>
            </ion-col>
            <ion-col col-12 class="gvt-status-wrapper-table">
              <span class="font-size-14px gvt-status"
                    [ngClass]="{'gvt-status-danger': tr.status === 'new',
                        'gvt-status-info': tr.status === 'accepted',
                        'gvt-status-primary': tr.status === 'on_the_road' || tr.status === 'in_progress' || tr.status === 'delivered',
                        'gvt-status-success': tr.status === 'paid',
                        'gvt-status-default': TransportationConstants.AVAILABLE_STATUSES.indexOf(tr.status) < 0
                        }">{{ tr.statusDisplay }}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col col-6>
        <ion-grid class="grid-no-margin request-details-col">
          <ion-row>
            <ion-col col-12 text-right>
              <span class="font-size-24px" *ngIf="tr.fullAmount">
                  {{ tr.fullAmount }}
                  <span *ngIf="tr.fullAmountMax">-</span>
                  <span *ngIf="tr.fullAmountMax">{{ tr.fullAmountMax }}</span>
                  Br
              </span>
              <span class="text-muted"
                    *ngIf="!tr.fullAmount"> <ion-icon name="ios-warning-outline"
                                                      [color]="'warning'"></ion-icon>&nbsp;<span translate>Стоимость не указана</span></span>
            </ion-col>
            <ion-col col-12 text-right *ngIf="LIST_TYPES.assigned !== listType">
              <span *ngIf="tr.assignee">{{ tr.assignee.firstName }}</span>
              <span *ngIf="!tr.assignee" class="text-warning">
                <ion-icon name="ios-warning-outline" [color]="'warning'"></ion-icon>&nbsp;<span
                translate>Не назначен</span>
              </span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll text-center="" (ionInfinite)="pageChanged($event)"
                       *ngIf="!requestsLoading && trRequests.length < totalItems">
    <span translate="" class="font-size-14px">Заказы загружаются</span>&nbsp;<loader></loader>
  </ion-infinite-scroll>

  <ion-grid *ngIf="!requestsLoading && (!trRequests || !trRequests.length)">
    <ion-row>
      <ion-col>
        <h4 translate>Нет заявок</h4>

        <p translate>В данном списке отсутствуют заявки на транспортировку.</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
