ion-simple-wizard {
    :host {
      display: flex;
      flex-direction: column;

    }
    .ion-wizard-footer {
     position: relative;
     transform: translate3d(0, 0, 0);
     -webkit-transform: translate3d(0, 0, 0);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: block;
    width: 100%;
    text-align: center;
    }

  ion-wizard-step, ion-fab, ion-footer {
    position: relative!important;
  }

  ion-fab[right] {
    float: right;
  }

  ion-fab[left] {
    float: left;
  }

  ion-footer:before {
    display: none;
  }
}
