<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span translate>Заявка На Перевозку</span>
    </ion-title>
    <button right ion-button menuToggle="right">
      <ion-icon name="person"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!trRequest" text-center="">
    <span translate="">Данные загружаются</span>
    <loader></loader>
  </div>

  <div *ngIf="trRequest">
    <form #trRequestForm="ngForm">
    <h4>
      <ion-icon name="ios-document-outline"></ion-icon>&nbsp;<span translate>Форма Заявки</span>
    </h4>
    <br>
      <ion-list class="gvt-default-list gvt-tr-request-create-list">
        <ion-item>
          <ion-label stacked><span translate="">Номер Телефона</span> *</ion-label>
          <ion-input type="number" name="phone"
                     pattern="[0-9]{9}"
                     required [(ngModel)]="trRequest.phone"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked><span translate="">Комментарий</span> *</ion-label>
          <ion-textarea required name="text" [(ngModel)]="trRequest.text"></ion-textarea>
        </ion-item>

        <ion-grid *ngIf="canSetPriceFields()" class="grid-no-padding grid-no-margin">
          <ion-row>
            <ion-col ion-item col-7>
              <ion-label stacked="" translate="">Стоимость Автомобиля</ion-label>
              <ion-input type="number" name="carAmount" min="0" [(ngModel)]="trRequest.carAmount"></ion-input>
            </ion-col>
            <ion-col ion-item col-5>
              <ion-label stacked translate="">Грузчиков</ion-label>
              <ion-input type="number" name="portersAmount" min="0"
                         (ngModelChange)="portersAmountChanged($event, phone)"
                         [ngModel]="trRequest.portersAmount"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-item>
          <ion-label stacked="" translate="">Количество Грузчиков</ion-label>
          <ion-select
            name="portersNumber"
            cancelText="{{ 'Отмена' | translate }}"
            okText="{{ 'Выбрать' | translate }}"
            (ngModelChange)="portersNumberChanged()"
            [(ngModel)]="trRequest.portersNumber">
            <ion-option [value]="opt.value" *ngFor="let opt of portersNumbers">{{ opt.display }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="canSetPriceFields()">
          <ion-label class="font-size-14px" translate>Почасовая Оплата</ion-label>
          <ion-toggle [(ngModel)]="trRequest.isHourlyRate" name="isHourlyRate" color="secondary"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label class="font-size-14px" translate>Безналичный Расчет</ion-label>
          <ion-toggle [(ngModel)]="trRequest.isCashlessPayment" name="isCashlessPayment" color="secondary"></ion-toggle>
        </ion-item>

        <ion-grid class="grid-no-padding grid-no-margin">
          <ion-row>
            <ion-col ion-item col-7>
              <ion-label stacked="" translate="">Заказать На Дату</ion-label>
              <ion-datetime displayFormat="YYYY-MM-DD"
                            required
                            name="date"
                            max="{{maxDate}}"
                            [cancelText]="'Отмена' | translate"
                            [doneText]="'Ок' | translate"
                            [(ngModel)]="trRequest.date"></ion-datetime>
            </ion-col>
            <ion-col ion-item col-5>
              <ion-label stacked="" translate="">Время</ion-label>
              <ion-datetime name="time"
                            minuteValues="0,10,15,20,25,30,35,40,45,50,55"
                            [cancelText]="'Отмена' | translate"
                            [doneText]="'Ок' | translate"
                            displayFormat="HH:mm" [(ngModel)]="trRequest.time"></ion-datetime>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-list>

      <h4>
        <ion-icon name="ios-map-outline"></ion-icon>&nbsp;<span translate>Карта</span>
      </h4>
        <mapbox-routes-edit [(trRequest)]="trRequest"></mapbox-routes-edit>
      <br>
      <confirmation-modal *ngIf="!trRequest.uuid" [disabledCondition]="!trRequestForm.form.valid || !isAddressesValid()"
                          block="true" [iconName]="'ios-checkmark'" [btnText]="'Оформить Заказ' | translate"
                          [confirmationSuccess]="submitForm()"></confirmation-modal>
      <ion-grid class="grid-no-padding grid-no-margin">
        <ion-row>
          <ion-col col-6>
            <button *ngIf="trRequest.uuid" left color="light" type="button" ion-button="" (click)="cancelEdit()">
              Отмена
            </button>
          </ion-col>
          <ion-col col-6 text-right="">
            <confirmation-modal right
                                *ngIf="trRequest.uuid"
                                [disabledCondition]="!trRequestForm.form.valid || !isAddressesValid()"
                                [iconName]="'ios-checkmark'" [btnText]="'Сохранить' | translate"
                                [confirmationSuccess]="submitForm()"></confirmation-modal>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br>

    </form>
  </div>
</ion-content>
