<ion-header>
  <ion-navbar>
    <ion-title><span translate="">Укажите стоимость автомобиля и грузчиков</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list class="gvt-default-list">
    <ion-item>
      <ion-label stacked="" translate="">Начальная стоимость автомобиля</ion-label>
      <ion-input type="number" required [(ngModel)]="carAmount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked="" translate="">Укажите максимальную стоимость автомобиля</ion-label>
      <ion-input type="number" required [(ngModel)]="carAmountMax"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked="" translate="">Начальная стоимость услуг грузчиков</ion-label>
      <ion-input type="number" [(ngModel)]="portersAmount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked="" translate="">
        Максимальная стоимость услуг грузчиков
      </ion-label>
      <ion-input type="number" [(ngModel)]="portersAmountMax"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="font-size-14px"><span translate>Почасовая Оплата</span></ion-label>
      <ion-toggle [(ngModel)]="isHourlyRate" name="isHourlyRate" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label class="font-size-14px"><span translate>Безналичный Расчет</span></ion-label>
      <ion-toggle [(ngModel)]="isCashlessPayment" name="isCashlessPayment" color="secondary"></ion-toggle>
    </ion-item>
  </ion-list>
  <hr>
  <ion-grid class="grid-no-margin grid-no-padding">
    <ion-row>
      <ion-col col-6>
    <button left ion-button="" [color]="'light'" icon-only class="font-size-18px gvt-round-button gvt-cancel-button" translate=""
            (click)="closeModal()"><ion-icon name="close"></ion-icon></button></ion-col>
      <ion-col col-6 text-right>
    <confirmation-modal right iconName="ios-checkmark"
                        btnClass="font-size-24px gvt-round-button"
                        [confirmationSuccess]="setTransportationRequestPrice()"></confirmation-modal>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
