<ion-header>
  <ion-navbar>
    <ion-title><span translate="">Назначить сотрудника на Заказ</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list class="gvt-default-list">
    <ion-item>
      <ion-label stacked=""><span translate>Назначить на</span></ion-label>
      <ion-select
        cancelText="{{ 'Отмена' | translate }}"
        okText="{{ 'Выбрать' | translate }}"
        [(ngModel)]="assigneeID">
        <ion-option *ngFor="let employee of employeesList"
                    [value]="employee.id">
          {{ employee.firstName }} {{ employee.lastName }}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <hr>
  <ion-grid class="grid-no-margin grid-no-padding">
    <ion-row>
      <ion-col col-6>
        <button left ion-button="" [color]="'light'" icon-only class="font-size-18px gvt-round-button gvt-cancel-button" translate=""
                (click)="closeModal()"><ion-icon name="close"></ion-icon></button></ion-col>
      <ion-col col-6 text-right="">
        <confirmation-modal right
                            iconName="ios-checkmark"
                            btnClass="font-size-24px gvt-round-button"
                            [confirmationSuccess]="assignEmployee()"></confirmation-modal></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
