// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.header, .toolbar, .toolbar-background {
  background-color: #1B2936 !important;
  > * {
    color: #fff !important;
  }
}
.title {
  background-color: #1B2936 !important;
  padding: 0 10px 1px !important;

  .toolbar-title span, .toolbar-title {
    color: #fff !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 100;
  }
}

.icon.icon-ios.ion-ios-menu {
  color: #fff !important;
}

.toast-wrapper {
  border-radius: 0 !important;
  border: none;
}

.toast-container .toast-button {
  border: 1px solid #fff;
}

.toast-error .toast-message, .toast-success .toast-message, .toast-info .toast-message {
  border: none;
  background: none;
}

.toast-error .toast-container {
  background-color: #a94442 !important;
}

.toast-success .toast-container {
  background-color: #5cb85c !important;
}

.toast-info .toast-container {
  background-color: #00a7d0 !important;
}

.gvt-icon {
  margin-left: 16px;
}

.box {
  border: 1px solid #d2d6de;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.box .box-body {
  padding: 5px 10px;
}

.box .box-header {
  padding: 10px 10px 5px;
  border-bottom: 1px solid #f4f4f4;
}

.box.box-primary {
  border-top: 3px solid #1B2936 !important;
}

.box-primary.box-solid .box-header {
  background-color: #1B2936 !important;
  color: #fff;
}

.box-info.box-solid .box-header {
  background-color: #00a7d0 !important;
  color: #fff;
}

.box-warning.box-solid .box-header {
  background-color: #db8b0b !important;
  color: #fff;
}

.text-danger {
  color: #a94442;
}

.text-success {
  color: #3c763d;
}

.text-info {
  color: #31708f;
}

.text-primary {
  color: #337ab7;
}

.text-default {
  color: #d3d3d3;
}

.gvt-form-label, .gvt-label {
  border-radius: 0 !important;
}

.gvt-status {
  border: 2px solid;
  border-radius: 5px;
  padding: 5px 15px;
  text-align: center;
  font-weight: 900;
}

.gvt-status-success {
  border-color: #3c763d !important;
  color: #3c763d !important;
}

.gvt-status-danger {
  border-color: #a94442 !important;
  color: #a94442 !important;
}

.gvt-status-info {
  border-color: #31708f !important;
  color: #31708f !important;
}

.gvt-status-primary {
  border-color: #337ab7 !important;
  color: #337ab7 !important;
}

.gvt-status-default {
  border-color: #777 !important;
  color: #777 !important;
}

.gvt-status-wrapper-table {
  vertical-align: middle !important;

  .gvt-status {
    margin-top: 8px;
    display: inline-block;
  }
}

.gvt-status-wrapper-details {
  padding: 10px 0;
}

.gvt-map {
  min-height: 60vh;
  width: 100%;
  height: 100%;
  min-width: 100%;
  max-height: 60vh;
}

.gvt-map-details {
  min-height: 50vh;
  width: 100%;
  height: 100%;
  max-height: 50vh;
}

.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}

.collapse.in, .collapse {
  -webkit-transition: all 0.3s ease-in-out 0.3s;
  -moz-transition: all 0.3s ease-in-out 0.3s;
  -o-transition: all 0.3s ease-in-out 0.3s;
  transition: all 0.3s ease-in-out 0.3s;
}

.table {
  min-width: 900px;
  border: 1px solid #ecf0f5;
  ion-row {
    width: 100% !important;
    border-bottom: 1px solid #ecf0f5;

    ion-col.line-number {
      min-width: 20px;
      width: 60px;
      max-width: 60px;
    }
    ion-col {
      border-right: 1px solid #ecf0f5;
      min-width: 140px;
      width: 18%;
      padding: 10px;
      min-height: 40px;
    }
    ion-col:last-of-type {
      border-right: none;
    }
  }
  ion-row:last-of-type {
    border-bottom: none;
  }
}

.font-size-20px {
  font-size: 20px !important;
}

.font-size-24px {
  font-size: 24px !important;
}

.font-size-14px {
  font-size: 14px !important;
}

.font-size-12px {
  font-size: 14px !important;
}

.font-size-16px {
  font-size: 16px !important;
}

.submenu button.item:last-of-type .item-inner {
  border-bottom: none;
}

.submenu ion-label {
  margin: 0;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  min-width: 600px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eeeeee;
  border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.pager {
  padding-left: 0;
  margin: 20px 0;
  list-style: none;
  text-align: center;
}

.pager li {
  display: inline;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.pager .next > a,
.pager .next > span {
  float: right;
}

.pager .previous > a,
.pager .previous > span {
  float: left;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777777;
  background-color: #fff;
  cursor: not-allowed;
}

.action-sheet-container {
  border-radius: 3px !important;
}

.alert-wrapper {
  border-radius: 3px !important;
}

.text-gvt-primary {
  color: #192532 !important;
}

.gvt-label-primary {
  background-color: #192532 !important;
  border-radius: 0 !important;
}

ion-badge {
  border-radius: 2px !important;
}

.gvt-label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.gvt-menu {
  .scroll-content {
    background-color: #1B2936 !important;
    color: #ffffff !important;
    border-top: 0.55px solid #c8c7cc;
  }
  ion-list.gvt-menu-list {
    background-color: #1B2936 !important;
    color: #ffffff !important;
    .item {
      background-color: #1B2936 !important;
      color: #ffffff !important;
      min-height: 52px;
    }
    ion-item-divider.item-divider {
      color: #000 !important;
      background-color: #fff !important;
      border-bottom: 0.55px solid #c8c7cc;
    }
  }
}

.menu-no-last-border li {
  border-bottom: none;
}

.gvt-map-edit {
    min-height: 60vh;
    max-height: 60vh;
    width: 100vw;
    height: 100%;
    margin-left: -21px;
    margin-top: -21px;
}

.gvt-map {
  min-height: 60vh;
  width: 100vw;
  height: 100%;
  max-height: 60vh;
  margin-left: -16px;
  margin-bottom: -16px;
}

.btn-sq {
  text-transform: none;
  white-space: pre-wrap;

  line-height: 14px;
  width: 90px !important;
  height: 90px !important;
  font-size: 14px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) !important;

  -webkit-transition: all 0.03s ease-in 0.03s;
  -moz-transition: all 0.03s ease-in 0.03s;
  -o-transition: all 0.03s ease-in 0.03s;
  transition: all 0.03s ease-in 0.03s;
}
.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
}

.btn-sq:hover {
  width: 80px !important;
  height: 80px !important;
  margin-left: 10px !important;
  font-size: 12px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;

  -webkit-transition: all 0.03s ease-in 0.03s;
  -moz-transition: all 0.03s ease-in 0.03s;
  -o-transition: all 0.03s ease-in 0.03s;
  transition: all 0.03s ease-in 0.03s;
}

.address-auto-complete li.item, .address-auto-complete li.no-match-found {
  color: #192532;
}

.address-auto-complete {
  background-color: transparent;
}

.address-auto-complete > input {
  outline: none;
  border: 0;
  padding: 2px;
  box-sizing: border-box;
  background-clip: content-box;
}

.address-auto-complete > ul {
  background-color: #fff;
  margin: 0;
  width: 100%;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  animation: slideDown 0.1s;
}

.address-auto-complete > ul.empty {
  display: none;
}

.address-auto-complete > ul li {
  padding: 8px 5px;
  display: inline-block;
  font-size: 16px;
  clear:both;
  float:left;
  border-bottom: 1px solid #eee;
}

.address-auto-complete > ul li:last-child {
  border-bottom: none;
}

.address-auto-complete > ul li:hover {
  background-color: #ccc;
}

.vertical-align-center {
  height: 100%;
  display: block;
  vertical-align: middle;
  text-align: center;
  padding: 5px;
}

.big-icon {
  font-size: 18px;
  padding: 14px 5px;
}

.text-center {
  text-align: center!important;
}

.gvt-icon-colored {
  color: #192532!important;
  line-height: 28.8px;
  height: 38px;
  min-height: 38px;
}

.show-big-text-item {
  white-space: normal;
}

.additional-info div {
  margin-bottom: 10px;
}

.icon-5x {
  font-size: 124px!important;
}

.icon-3x {
  font-size: 84px!important;
}

.icon-2x {
  font-size: 32px!important;
}

button ion-icon.ion-icon-nopadding {
  padding: 0!important;
}
button.button-border-shadow {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.placemark_layout_container {
  width: 46px;
  height: 46px;
  left: -10px;
}


/*  begin bounce css */
.bounce {
    width: 50px;
    text-align: center;
    display: inline;
}

.bounce > div {
    width: 12px;
    height: 12px;
    background-color: #1B2936;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.gvt-preloader .bounce {
    width: 70px;
}

.gvt-preloader .bounce > div {
    width: 18px;
    height: 18px;
}

.bounce .bounce1 {
    animation-delay: -0.32s;
}

.bounce .bounce2 {
    animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1.0);
    }
}

.center-div {
  height: 100%;
  padding-top: 5%;
}

.gvt-map-points-buttons {
  padding-top: 12px;
  font-size: 24px;

  ion-icon {
    font-weight: 900;
  }
}

.gvt-empty-address {
  padding-top: 15px;
  color: #8c8c8c;
}

.my-account-avatar img {
  max-height: 128px;
  display: inline;
}

ion-grid.gvt-default-grid {
  > ion-row {
    margin-bottom: 10px;
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 10px;
  }
}

ion-list.gvt-default-list {

  ion-item:first-of-type {
    border-top: none!important;
  }
  ion-item {
    padding: 0!important;
    input, textarea {
      font-size: 14px;
    }
  }

  ion-label {
    font-size: 14px!important;
  }
  ion-grid .item-input:last-child {
    border-bottom: none;
  }
}

.gvt-badge {
  margin-left: 0!important;
  padding: 10px;
}

.grid-no-padding {
  padding: 0!important;

  ion-col {
    padding: 0!important;
  }
}
.grid-no-margin {
  margin: 0!important;

  ion-col {
    margin: 0!important;
  }
}
.list-no-padding {
  padding: 0!important;
}
.list-no-margin {
  margin: 0!important;
}

.tr-request-details {
  ion-col.header-col h3 {
    margin-top: 5px;
  }
  .tr-comment {
    word-wrap: break-word;
    text-align: justify;
    hyphens: manual;
    overflow-wrap: break-word;
  }
}

.tr-request-action-grid {
  min-height: 100px;
}

.gvt-default-hr {
  height: 2px;
}

.gvt-profile-list  {
  ion-label {
    margin-top: 0;
    margin-bottom: 0;
  }

  ion-item-divider {
    border: none!important;
  }
}

ion-app {
  ion-header {
    ion-navbar {
      button[ion-button][right] {
        margin: 0 6px !important;
      }
    }
  }
}

.tr-requests {
  .request-details-col {
    ion-grid {
      ion-row {
        ion-col {

        }
      }
    }
  }
  .tr-requests-navigation {
    margin-bottom: 30px;
  }
}

.gvt-add-tr-button {
  position: fixed;
  top: 125px;
  right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  z-index: 99999;
}
button[ion-button].gvt-round-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


button[ion-button].gvt-round-button.gvt-round-button-md {
  width: 60px;
  height: 60px;
}

.gvt-cancel-button {
  color: #b1b1b1;
}

.text-muted {
    color: #777;
}
