<ion-menu [content]="content" side="left" id="leftMenu">
  <ion-header>
    <ion-toolbar>
      <ion-buttons left>
      <button ion-button clear>
        <img [src]="'assets/images/gvt_icon_inversed.png'" class="gvt-icon" height="34" width="34">
      </button>
      </ion-buttons>
      <ion-title right>Грузи В ТАКСИ </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="gvt-menu">
    <ion-list class="gvt-menu-list">
      <ion-item-divider color="light">
        <h2 translate="">Меню</h2>
      </ion-item-divider>
      <ion-item *ngIf="!account.user">
        Вы не вошли в аккаунт
      </ion-item>
      <!-- (click)="toggleTransportationCollapse()" -->
      <button menuClose ion-item
              (click)="openPage(transportationListPage, {listType: 'my'})"
              *ngIf="account.user && !account.isManagerOrDriver()">
         <ion-icon name="md-grid"></ion-icon>&nbsp;<span translate="">Транспортировка</span>

          <ion-badge *ngIf="account.isManagerOrDriver() && trRequests.statistics && trRequests.statistics.new" [color]="'danger'" item-end>{{ trRequests.statistics.new }}</ion-badge>
          <ion-badge *ngIf="account.isManagerOrDriver() && trRequests.statistics && trRequests.statistics.accepted" [color]="'primary'" item-end>{{ trRequests.statistics.accepted }}</ion-badge>
          <ion-badge *ngIf="account.isManagerOrDriver() && trRequests.statistics && trRequests.statistics.inProgress" [color]="'darkprimary'" item-end>{{ trRequests.statistics.inProgress }}</ion-badge>
      </button>
      <!-- (click)="toggleTransportationCollapse()" -->
      <button menuClose ion-item
              (click)="openPage(transportationListPage, {listType: 'assigned'})"
              *ngIf="account.user && account.isManagerOrDriver() && !account.isManager()">
         <ion-icon name="md-grid"></ion-icon>&nbsp;<span translate="">Транспортировка</span>

          <ion-badge *ngIf="account.isManagerOrDriver() && trRequests.statistics && trRequests.statistics.new" [color]="'danger'" item-end>{{ trRequests.statistics.new }}</ion-badge>
          <ion-badge *ngIf="account.isManagerOrDriver() && trRequests.statistics && trRequests.statistics.accepted" [color]="'primary'" item-end>{{ trRequests.statistics.accepted }}</ion-badge>
          <ion-badge *ngIf="account.isManagerOrDriver() && trRequests.statistics && trRequests.statistics.inProgress" [color]="'darkprimary'" item-end>{{ trRequests.statistics.inProgress }}</ion-badge>
      </button>
      <!-- (click)="toggleTransportationCollapse()" -->
      <button menuClose ion-item
              (click)="openPage(transportationListPage, {listType: 'all'})"
              *ngIf="account.user && account.isManager()">
         <ion-icon name="md-grid"></ion-icon>&nbsp;<span translate="">Транспортировка</span>

          <ion-badge *ngIf="account.isManagerOrDriver() && trRequests.statistics && trRequests.statistics.new" [color]="'danger'" item-end>{{ trRequests.statistics.new }}</ion-badge>
          <ion-badge *ngIf="account.isManagerOrDriver() && trRequests.statistics && trRequests.statistics.accepted" [color]="'primary'" item-end>{{ trRequests.statistics.accepted }}</ion-badge>
          <ion-badge *ngIf="account.isManagerOrDriver() && trRequests.statistics && trRequests.statistics.inProgress" [color]="'darkprimary'" item-end>{{ trRequests.statistics.inProgress }}</ion-badge>
      </button>
      <ion-item>
        <span translate="">Версия</span>:&nbsp;{{ appVersion }}
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-menu [content]="content" side="right" id="rightMenu">
  <ion-header>
    <ion-toolbar>
      <ion-title right>Профиль</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="gvt-menu">
    <ion-list class="gvt-menu-list">
      <ion-item-divider color="light">
          <ion-list class="list-no-padding list-no-margin gvt-profile-list" color="light" *ngIf="account.isManagerOrDriver()">
            <ion-item-divider color="light">
              <ion-avatar item-start *ngIf="account.user">
                <img [src]="account.user.userCard.photo || 'assets/images/default-avatar.png'">
              </ion-avatar>
              <h2 *ngIf="account.user">{{account.user.firstName}} {{account.user.lastName}}</h2>
              <h3 *ngIf="account.user">
                <ion-badge class="gvt-badge" item-end [color]="'default'">{{ account.user.employeeCard.roleDisplay }}</ion-badge>
              </h3>
            </ion-item-divider>
            <ion-item-divider color="light">
              <ion-label translate="">На линии</ion-label>
              <ion-toggle disabled="" [(ngModel)]="account.user.employeeCard.onLine" name="onLine" color="secondary"></ion-toggle>
            </ion-item-divider>
        </ion-list>
      </ion-item-divider>
      <button ion-item menuClose="right" (click)="openPage(loginPage)" *ngIf="!account.user">
        <ion-icon name="ios-log-in"></ion-icon> <span translate="">Войти</span>
      </button>
      <button ion-item menuClose="right" (click)="openPage(myAccountPage)" *ngIf="account.user">
         <ion-icon name="ios-contact"></ion-icon> <span translate="">Мой Профиль</span>
      </button>

      <button ion-item menuClose="right" (click)="openPage(logoutPage)" *ngIf="account.user">
        <ion-icon name="ios-log-out"></ion-icon> <span translate="">Выйти</span>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" [rootParams]="{listType: trListType}" #content swipeBackEnabled="false"></ion-nav>
