<button ion-button
        icon-end
        *ngIf="!!buttonText"
        color="{{btnColor}}" [outline]="outline"
        (click)="showConfirmation()" [ngClass]="btnClass" [block]="block" [disabled]="http.sendingRequest || disabledCondition">
  <span>{{ buttonText }}</span>
  <ion-icon [name]="iconName" *ngIf="iconName && !http.sendingRequest"></ion-icon>
  <ion-spinner class="font-size-18px" name="circles" *ngIf="http.sendingRequest"></ion-spinner>
</button>

<button ion-button
        icon-only
        *ngIf="!buttonText"
        color="{{btnColor}}" [outline]="outline"
        (click)="showConfirmation()" [ngClass]="btnClass" [block]="block" [disabled]="http.sendingRequest || disabledCondition">
  <ion-icon [name]="iconName" *ngIf="iconName && !http.sendingRequest"></ion-icon>
  <ion-spinner name="circles" *ngIf="http.sendingRequest"></ion-spinner>
</button>
