<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span translate="">Панель управления</span></ion-title>
    <button right ion-button menuToggle="right">
      <ion-icon name="person"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5 text-center="" translate="">Грузи В ТАКСИ: Приложение</h5>

  <div *ngIf="!account.user" text-center="">
    <br>
    <span translate="">Данные пользователя загружаются</span> <loader></loader>
  </div>
  <p translate="" *ngIf="account.user">Панель управления позволяет оперативно получить доступ к наиболее часто запрашиваемым ресурсам</p>
  <ion-grid>
    <ion-row *ngIf="account.user">
      <ion-col class="text-center" col col-12>
        <h1 class="text-primary" (click)="openPage(transportationRequestCreatePage)">
          <ion-icon name="ios-document-outline" class="icon-5x"></ion-icon>
        </h1>
        <h4 class="text-primary" (click)="openPage(transportationRequestCreatePage)" translate="">Оформить заказ</h4>
        <p translate="">
          Создайте заказ для перевозки необходимого Вам груза, подробно описав груз, дату/время, точки маршрута
        </p>
      </ion-col>
      <ion-col class="text-center" *ngIf="!account.isManagerOrDriver()" col col-12>
        <h1 class="text-success" (click)="openPage(transportationListPage, {listType: 'my'})">
          <ion-icon name="ios-list-box" class="icon-5x"></ion-icon>
        </h1>
        <h4 class="text-success" (click)="openPage(transportationListPage, {listType: 'my'})" translate="">Мои Заказы</h4>
        <p translate="">
          Откройте список Ваших заказов. Отсортируйте заказы используя Фильтр - это поможет быстро найти информацию о нужном заказе
        </p>
      </ion-col>
      <ion-col class="text-center" *ngIf="account.isManager()" col col-12>
        <h1 class="text-info" (click)="openPage(transportationListPage, {listType: 'all'})">
          <ion-icon name="ios-list-box" class="icon-5x"></ion-icon>
        </h1>
        <h4 class="text-info" (click)="openPage(transportationListPage, {listType: 'all'})" translate="">Список Заказов</h4>
        <p translate="">
          Здесь отображается полный список заказов, созданных в системе
        </p>
      </ion-col>
      <ion-col class="text-center" *ngIf="account.isManagerOrDriver()" col col-12>
        <h1 class="text-success" (click)="openPage(transportationListPage, {listType: 'assigned'})">
          <ion-icon name="ios-list-box" class="icon-5x"></ion-icon>
        </h1>
        <h4 class="text-success" (click)="openPage(transportationListPage, {listType: 'assigned'})" translate="">Назначены На Меня</h4>
        <p translate="">
          Список назначенных на Вас заказов
        </p>
      </ion-col>
      <ion-col class="text-center" col col-12>
        <h1 class="text-gvt-primary" (click)="openPage(myAccountPage)">
          <ion-icon name="ios-contact" class="icon-5x"></ion-icon>
        </h1>
        <h4 class="text-gvt-primary" (click)="openPage(myAccountPage)" translate="">Мой Профиль</h4>
        <p translate="">
          Перейдите в Мой Профиль для настройки информации своего аккаунта
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
