<ion-header>
  <ion-navbar>
    <ion-title ><span translate="">Вход</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="center-div">
    <div class="login-logo-wrapper text-center">
      <img class="login-logo" width="128" height="128" [src]="BIG_LOGO_IMG">
    </div>
    <h3 text-center translate="">Авторизация</h3>
    <ion-list>

      <ion-item>
        <ion-label floating translate="">E-Mail или имя пользователя</ion-label>
        <ion-input type="text" required [(ngModel)]="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating translate="">Пароль</ion-label>
        <ion-input type="password" required [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-list>
    <confirmation-modal block="true"
                          [iconName]="'ios-log-in'"
                          [btnText]="'Войти' | translate"
                          [confirmationSuccess]="logIn()"></confirmation-modal>
  </div>

</ion-content>
