<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span translate="">Заказ На Перевозку</span></ion-title>
    <button right ion-button menuToggle="right">
      <ion-icon name="person"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="!trRequest" text-center="">
    <span translate="">Данные загружаются</span>
    <loader></loader>
  </div>

  <div class="tr-request-details" *ngIf="trRequest">

    <ion-grid class="grid-no-padding">
      <ion-row>
        <ion-col class="header-col" col-6>
          <h3>
            <span translate>Заказ</span> #{{ trRequest.id }}
          </h3>
        </ion-col>
        <ion-col col-6 text-right="">
          <div *ngIf="trRequest" class="gvt-status-wrapper-details"><span
            class="gvt-status transaction-request-status font-size-16px"
            [ngClass]="{'gvt-status-danger': trRequest.status === 'new',
                                    'gvt-status-info': trRequest.status === 'accepted',
                                    'gvt-status-primary': trRequest.status === 'in_progress' || trRequest.status === 'delivered' || trRequest.status === 'on_the_road',
                                    'gvt-status-success': trRequest.status === 'paid',
                                    'gvt-status-default': TransportationConstants.AVAILABLE_STATUSES.indexOf(trRequest.status) < 0
                                    }">{{ trRequest.statusDisplay }}</span></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <ion-grid class="grid-no-padding">
      <ion-row>
        <ion-col col-6>
          <h5>
            <ion-icon name="ios-cash-outline"></ion-icon>&nbsp;<span translate>Стоимость</span>
          </h5>
        </ion-col>
        <ion-col col-6 text-right="">
          <span class="gvt-label gvt-label-primary font-size-20px" *ngIf="trRequest.fullAmount()">
              {{ trRequest.fullAmount() }}
              <span *ngIf="trRequest.fullAmountMax()">-</span>
              <span *ngIf="trRequest.fullAmountMax()">{{ trRequest.fullAmountMax() }}</span>
              Br
          </span>
          <span *ngIf="!trRequest.fullAmount()">
            <ion-icon name="warning" color="warning"></ion-icon>&nbsp;<span translate="">Не указана</span>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="gvt-default-grid">

      <ion-row *ngIf="trRequest.carAmount && trRequest && finishedStatuses.indexOf(trRequest.status) < 0">
        <ion-col col-6>
          <span translate>Автомобиль</span>:
        </ion-col>
        <ion-col col-6 text-right="">
          <span *ngIf="trRequest.carAmountMax" translate>от</span>
          {{ trRequest.carAmount }} Br
          <span *ngIf="trRequest.carAmountMax"><span translate>до</span> {{ trRequest.carAmountMax }} Br</span>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="trRequest.portersAmount && trRequest && finishedStatuses.indexOf(trRequest.status) < 0">
        <ion-col col-6>
          <span translate>Грузчики</span>:
        </ion-col>
        <ion-col col-6 text-right="">
          <span *ngIf="trRequest.portersAmountMax" translate>от</span>
          {{ trRequest.portersAmount }} Br
          <span *ngIf="trRequest.portersAmountMax"><span translate>до</span> {{ trRequest.portersAmountMax }} Br</span>
        </ion-col>
      </ion-row>

      <ion-row
        *ngIf="trRequest.actionID && (trRequest.discountAmount || trRequest.discountAmountMin) && trRequest.fullAmount()">
        <ion-col col-6>
          <ion-icon name="md-arrow-round-down" [color]="'secondary'"></ion-icon>&nbsp;<span translate>Скидка</span>:
        </ion-col>
        <ion-col col-6 text-right="">
          <span *ngIf="trRequest.discountAmountMax && trRequest.discountAmountMax > trRequest.discountAmountMin"
                translate>от</span>
          <span>{{ trRequest.discountAmountMin }}</span>
          <span *ngIf="trRequest.discountAmountMax && trRequest.discountAmountMax > trRequest.discountAmountMin">
            <span translate>до</span>
            <span>{{ trRequest.discountAmountMax }}</span>
          </span>
          Br
        </ion-col>
      </ion-row>

      <ion-row *ngIf="trRequest && finishedStatuses.indexOf(trRequest.status) > -1 && trRequest.finalCarAmount">
        <ion-col col-6>
          <span translate>Автомобиль</span>:
        </ion-col>
        <ion-col col-6 text-right="">
          {{ trRequest.finalCarAmount }} Br
        </ion-col>
      </ion-row>

      <ion-row *ngIf="trRequest && finishedStatuses.indexOf(trRequest.status) > -1 && trRequest.finalPortersAmount">
        <ion-col col-6>
          <span translate>Грузчики</span>:
        </ion-col>
        <ion-col col-6 text-right="">
          {{ trRequest.finalPortersAmount }} Br
        </ion-col>
      </ion-row>

      <ion-row *ngIf="trRequest && finishedStatuses.indexOf(trRequest.status) > -1 && trRequest.portersPayment">
        <ion-col col-6>
          <span translate>Олата Грузчикам</span>:
        </ion-col>
        <ion-col col-6 text-right="">
          {{ trRequest.portersPayment }} Br
        </ion-col>
      </ion-row>

      <ion-row *ngIf="trRequest.isHourlyRate">
        <ion-col col-12>
          <ion-icon name="ios-clock-outline" [color]="'secondary'"></ion-icon>&nbsp;<span
          translate>Почасовая Оплата</span>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="trRequest.isCashlessPayment">
        <ion-col col-12>
          <ion-icon name="ios-card-outline" [color]="'primary'"></ion-icon>&nbsp;<span
          translate>Безналичный Рассчет</span>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="canApplyDiscount()">
        <ion-col col-12 *ngIf="actionsDiscountsList.length === 1">

          <confirmation-modal *ngIf="!trRequest.actionID"
                              [btnColor]="'primary'"
                              [block]="true"
                              [btnClass]="'show-big-text-item'"
                              [btnText]="('Применить' | translate) + ' ' + actionsDiscountsList[0].title + ' (' + actionsDiscountsList[0].discountValue + actionsDiscountsList[0].discountSymbol + ')'"
                              [confirmationSuccess]="applyActionDiscount(actionsDiscountsList[0].id)"></confirmation-modal>
          <confirmation-modal *ngIf="trRequest.actionID"
                              [btnColor]="'light'"
                              [block]="true"
                              [btnText]="'Убрать скидку' | translate"
                              [confirmationSuccess]="applyActionDiscount(actionsDiscountsList[0].id, true)"></confirmation-modal>

        </ion-col>

        <ion-col col-12 *ngIf="actionsDiscountsList.length > 1 && !trRequest.actionID">
          <ion-label stacked="" translate="">Выбрать скидку/акцию</ion-label>
          <ion-select
            name="actionID"
            cancelText="{{ 'Отмена' | translate }}"
            okText="{{ 'Выбрать' | translate }}"
            [(ngModel)]="actionID">
            <ion-option [value]="" translate="">Нет скидки</ion-option>
            <ion-option [value]="action.id" *ngFor="let action of actionsDiscountsList">
              {{ action.title }} ({{ action.discountValue }}{{ action.discountSymbol }})
            </ion-option>
          </ion-select>
        </ion-col>
        <ion-col col-12 *ngIf="actionsDiscountsList.length > 1">
          <confirmation-modal *ngIf="!trRequest.actionID"
                              [btnColor]="'primary'"
                              [block]="true"
                              [btnClass]="'show-big-text-item'"
                              [btnText]="'Применить скидку' | translate"
                              [confirmationSuccess]="applyActionDiscount(actionID)"></confirmation-modal>
          <confirmation-modal *ngIf="trRequest.actionID"
                              [btnColor]="'light'"
                              [block]="true"
                              [btnText]="'Убрать скидку' | translate"
                              [confirmationSuccess]="applyActionDiscount(actionsDiscountsList[0].id, true)"></confirmation-modal>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h5 *ngIf="finishedStatuses.indexOf(trRequest.status) < 0">
      <ion-icon name="ios-create-outline"></ion-icon>&nbsp;<span translate>Действия</span></h5>
    <ion-grid  *ngIf="finishedStatuses.indexOf(trRequest.status) < 0" class="tr-request-action-grid grid-no-padding grid-no-margin">
      <ion-row>
        <ion-col col-12 text-center>
          <confirmation-modal *ngIf="finishedStatuses.indexOf(trRequest.status) < 0 && trRequest.status !== 'delivered'"
                              [btnColor]="'light'"
                              [btnClass]="'btn-sq'"
                              [btnText]="'Отменить' | translate"
                              [confirmationSuccess]="changeStatus('cancel')"></confirmation-modal>

          <button ion-button
                  icon-end
                  class="btn-sq"
                  *ngIf="account && account.isManagerOrDriver() && finishedStatuses.indexOf(trRequest.status) < 0 && trRequest.status !== 'delivered'"
                  [color]="'primary'" (click)="showSetPriceModal()">
            <span translate>Изменить стоимость</span>
          </button>

          <button ion-button
                  class="btn-sq"
                  *ngIf="account && account.isManagerOrDriver() && trRequest.status === 'new'"
                  (click)="changeStatus('assign', true)"
                  [color]="'primary'"
          ><span translate>Принять</span>
          </button>

          <button ion-button
                  class="btn-sq"
                  *ngIf="account && account.isManagerOrDriver() && trRequest.status === 'accepted'"
                  (click)="changeStatus('on_the_road', true)"
                  [color]="'primary'"
          ><span translate>В Пути</span>
          </button>

          <button ion-button
                  class="btn-sq"
                  *ngIf="account && account.isManagerOrDriver() && trRequest.status === 'on_the_road'"
                  (click)="changeStatus('in_progress', true)"
                  [color]="'primary'"
          ><span translate>Начать</span>
          </button>

          <button ion-button
                  class="btn-sq"
                  *ngIf="account && account.isManagerOrDriver() && trRequest.status === 'in_progress'"
                  (click)="showCompleteTransportationRequestModal()"
                  [color]="'primary'"
          ><span translate>Доставлен</span>
          </button>

          <confirmation-modal *ngIf="account && account.isManagerOrDriver() && trRequest.status === 'delivered'"
                              [btnColor]="'secondary'"
                              [btnClass]="'btn-sq'"
                              [btnText]="'Оплачен' | translate"
                              [confirmationSuccess]="changeStatus('paid')"></confirmation-modal>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div  *ngIf="finishedStatuses.indexOf(trRequest.status) < 0">
      <br>
      <hr class="gvt-default-hr">
    </div>
    <div *ngIf="account && account.isManagerOrDriver()">
      <br>
      <ion-grid class="grid-no-padding grid-no-margin">
        <ion-row>
          <ion-col col-9>
            <h5>
              <ion-icon name="ios-text-outline"></ion-icon>&nbsp;<span translate>Комментарий Сотрудника</span></h5>
          </ion-col>
          <ion-col col-3 text-right>
          <h5 *ngIf="account && account.isManagerOrDriver()">
            <a *ngIf="!isEmployeeCommentEdit"
               class="cursor-click" (click)="editEmployeeComment()">
              <ion-icon name="ios-create-outline"></ion-icon>
            </a>
          </h5>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <span *ngIf="!trRequest.employeeComment && !isEmployeeCommentEdit" translate>Нет комментария</span>
            <span *ngIf="trRequest.employeeComment && !isEmployeeCommentEdit" class="font-size-14px">{{ trRequest.employeeComment }}</span>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="isEmployeeCommentEdit">
          <ion-col col-12>
            <ion-textarea placeholder="{{'Введите комментарий сотрудника' | translate}}"
                          [(ngModel)]="employeeComment"></ion-textarea>
          </ion-col>
          <ion-col col-6>
            <button left ion-button="" [color]="'light'" icon-only class="font-size-18px gvt-round-button gvt-cancel-button"
                    (click)="isEmployeeCommentEdit = false" translate>
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-6 text-right="">
            <button ion-button [color]="'primary'" (click)="addEmployeeComment()"
                    [disableSubmitBtn]="disableBtn"
                    class="font-size-24px gvt-round-button" translate>
              <ion-icon name="ios-checkmark"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <br>
    <hr class="gvt-default-hr">
    <br>
    <ion-grid class="grid-no-padding grid-no-margin">
      <ion-row>
        <ion-col col-9>
          <h5>
            <ion-icon name="ios-paper-outline"></ion-icon>&nbsp;<span translate>Детали Заявки</span>
          </h5>
        </ion-col>
        <ion-col col-3 text-right="">
          <h5>

            <a *ngIf="trRequest && account.isManagerOrDriver()"
               (click)="openEditTRRequestPage()"
               class="pull-right cursor-click">
              <ion-icon name="ios-create-outline"></ion-icon>
            </a></h5>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="gvt-default-grid">
      <ion-row>
        <ion-col col-6>
          <b><span translate>Дата Создания</span>:</b>
        </ion-col>
        <ion-col col-6 text-right="">
          {{ trRequest.created | date : "dd/MM/y HH:mm" }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <b><span translate>Телефон</span>:</b>
        </ion-col>
        <ion-col col-6 text-right="">
          <a href="tel:+375{{ trRequest.phone }}">+375{{ trRequest.phone }}</a>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <b><span translate>Назначен На</span>:</b><br>
        </ion-col>
        <ion-col col-6 text-right="">
          <a class="cursor-click"
             *ngIf="account.isManagerOrDriver() && finishedStatuses.indexOf(trRequest.status) < 0"
             (click)="showAssignEmployeeModal()">
          <span *ngIf="trRequest.assignee">
              {{ trRequest.assignee.firstName }}
              <span *ngIf="account.isManagerOrDriver()">{{ trRequest.assignee.lastName }}</span>
          </span>
          <span *ngIf="!trRequest.assignee"><ion-icon name="warning" color="warning"></ion-icon>&nbsp;<span translate>Не назначен</span></span>
            <ion-icon name="ios-create-outline"></ion-icon>
          </a>

          <span *ngIf="trRequest.assignee && finishedStatuses.indexOf(trRequest.status) >= 0">
              {{ trRequest.assignee.firstName }}&nbsp;<span *ngIf="account.isManagerOrDriver()">{{ trRequest.assignee.lastName }}</span>
          </span>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="trRequest.createdBy">
        <ion-col col-6>
          <b><span translate>Создан</span>:</b>
        </ion-col>
        <ion-col col-6 text-right="">
          <a href="tel:+375{{ trRequest.createdBy.userCard.phoneNumber }}">
            {{ trRequest.createdBy.firstName }} {{ trRequest.createdBy.lastName }}
          </a>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <b><span translate>Комментарий</span>:</b>
        </ion-col>
        <ion-col col-6 class="tr-comment" text-right="">
            {{ trRequest.text }}
        </ion-col>
      </ion-row>

      <ion-row *ngIf="trRequest.email">
        <ion-col col-6>
          <b><span translate>E-Mail</span>:</b>
        </ion-col>
        <ion-col col-6 text-right="">
           {{ trRequest.email }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <b><span translate>Заказано На Дату</span>:</b>
        </ion-col>
        <ion-col col-6 text-right="">
           {{ trRequest.date | date : "dd/MM/y" }}
        </ion-col>
      </ion-row>

      <ion-row *ngIf="trRequest.time">
        <ion-col col-6>
          <b><span translate>Заказано На Время</span>:</b>
        </ion-col>
        <ion-col col-6 text-right="">
           {{ trRequest.time }}
        </ion-col>
      </ion-row>

      <ion-row *ngIf="trRequest.isNeedPorters">
        <ion-col col-6>
          <b><span translate>Количество Грузчиков</span>:</b>
        </ion-col>
        <ion-col col-6 text-right="">
           {{ trRequest.portersNumber }}
        </ion-col>
      </ion-row>

      <ion-row *ngIf="trRequest.routeLength">
        <ion-col col-6>
          <b><span translate>Длина Маршрута</span>:</b>
        </ion-col>
        <ion-col col-6 text-right="">
           {{ trRequest.routeLength / 1000 | number : '1.2-2' }} км
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="trRequest && trRequest.points">
  <h5>
    <ion-icon name="ios-map-outline"></ion-icon>&nbsp;<span translate>Карта</span></h5>
  <ion-grid *ngIf="trRequest && trRequest.points" class="gvt-default-grid">
    <ion-row>
      <ion-col col-9 >
        <b translate="">Адрес</b>
      </ion-col>
      <ion-col col-3 text-right="">
        <b translate="">Этаж</b>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let point of trRequest.points; let i = index" text-wrap>
      <ion-col col-1>
        <ion-icon name="ios-navigate" [color]="'warning'" class="ion-icon-nopadding icon-2x"
                  *ngIf="point.latitude && point.longitude" (click)="navigateToPoint(point)"></ion-icon>
      </ion-col>
      <ion-col col-3 text-right="">
        <b *ngIf="i === 0"><span translate>Откуда</span>:</b>
        <b *ngIf="i !== 0 && i < trRequest.points.length - 1"><span translate>Далее</span>:</b>
        <b *ngIf="i === trRequest.points.length - 1"><span translate>Куда</span>:</b>
      </ion-col>
      <ion-col col-5>
        {{ point.address }}
      </ion-col>
      <ion-col col-3 text-right="">
        <span *ngIf="point.floor">
          {{ point.floor }}
        </span>
        <span *ngIf="!point.floor" translate>
          Не указан
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <mapbox-routes [trRequest]="trRequest"></mapbox-routes>
  </div>
</ion-content>
