<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span translate="">Редактирование</span></ion-title>
    <button ion-button menuToggle="right">
      <ion-icon name="person"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5>
    <span translate>Редактирование Профиля</span><br>
    <small translate>Информация Пользователя</small>
  </h5>
  <br>
  <ion-list class="gvt-default-list" *ngIf="userEditObj">

    <ion-item>
      <ion-label floating translate="">Имя</ion-label>
      <ion-input type="text" required [(ngModel)]="userEditObj.firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating translate="">Фамилия</ion-label>
      <ion-input type="text" required [(ngModel)]="userEditObj.lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating translate="">Номер Телефона (+375)</ion-label>
      <ion-input
        type="number" required max="999999999" [(ngModel)]="userEditObj.userCard.phoneNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating translate="">Город</ion-label>
      <ion-input type="text" [(ngModel)]="userEditObj.userCard.hometown"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating translate="">Дата рождения</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD"
                    [cancelText]="'Отмена'"
                    [doneText]="'Ок'"
                    [(ngModel)]="userEditObj.userCard.dateOfBirth"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating translate="">О себе</ion-label>
      <ion-textarea [(ngModel)]="userEditObj.userCard.about"></ion-textarea>
    </ion-item>
  </ion-list>
  <confirmation-modal block="true"
                      [iconName]="'ios-checkmark'"
                      [btnText]="'Сохранить' | translate"
                      [confirmationSuccess]="submitForm()"></confirmation-modal>
</ion-content>
