<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span translate="">Профиль</span></ion-title>
    <button right ion-button menuToggle="right">
      <ion-icon name="person"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5>
    <span translate>Профиль</span>
    <small translate>Информация Пользователя</small>
  </h5>
  <ion-grid>
    <ion-row>
      <ion-col col-12 text-center="">
        <ion-avatar text-center class="my-account-avatar">
          <img [src]="account.user.userCard.photo || DEFAULT_AVATAR_IMG">
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center="" col-12>
        {{account.user.firstName}} {{account.user.lastName}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center="" col-12>
        <ion-badge item-end [color]="'default'">{{ account.user.employeeCard.roleDisplay }}</ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <ion-grid class="gvt-default-grid">
    <ion-row>
      <ion-col col-6 translate="">
        <b>Номер Телефона</b>
      </ion-col>
      <ion-col col-6 text-right>
        +375{{ account.user.userCard.phoneNumber }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 translate="">
        <b>E-Mail</b>
      </ion-col>
      <ion-col col-6 text-right>
        {{account.user.email}}
      </ion-col>
    </ion-row>
    <ion-row *ngIf="account.user.userCard.hometown">
      <ion-col col-6 translate="">
        <b>Город</b>
      </ion-col>
      <ion-col col-6 text-right>
        {{account.user.userCard.hometown}}
      </ion-col>
    </ion-row>
    <ion-row *ngIf="account.user.userCard.dateOfBirth">
      <ion-col col-6 translate="">
        <b>Дата рождения</b>
      </ion-col>
      <ion-col col-6 text-right>
        {{account.user.userCard.dateOfBirth | date : "dd/MM/y"}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button="" icon-end block (click)="editAccount()">
    <span translate="">Редактировать</span>
    <ion-icon name="ios-create-outline"></ion-icon>
  </button>
</ion-content>
